.h1 {
    @apply text-center text-5xl my-8;
}

.h2 {
    @apply text-2xl my-5 font-bold;
}

.main {
    @apply flex-1 container mx-auto mb-8;
}

.btn-primary {
    @apply cursor-pointer text-center bg-card px-6 py-3 border-2 border-primary hover:bg-primary hover:text-primary-foreground transition-colors;
}

.input-text {
    @apply border-2 border-primary p-1;
}

.p {
    @apply my-2;
}

.input-file {
    @apply p-5 inline-block;
    @apply border-2 border-dashed border-primary rounded-lg;
    @apply cursor-pointer hover:bg-secondary transition-colors;
}

.input-file > input {
    @apply hidden;
}

.a {
    @apply text-muted-foreground hover:text-primary underline;
}

.details {
    @apply border-2 border-secondary rounded-md px-3 bg-card open:pb-3;
}

.details > summary {
    @apply text-lg font-bold cursor-pointer py-3;
}

.details > *:not(summary) {
    @apply pl-4;
}

.table, .table tr, .table th, .table td {
    @apply border-1 border-primary p-1;
}

.select {
    @apply border-2 border-primary rounded-md p-3 bg-card;
}