@import "fonts.css";

@import "tailwindcss";
@source "hugo_stats.json";

@import "theme.css";
@import "retro.css";
@import "classes.css";

html, body, #container {
    height: 100%;
    background-color: var(--background);
    color: var(--foreground);
}

html {
    scroll-padding-top: 30px;
}
