<header class="border-b-2 border-primary bg-card sticky top-0 z-50">
    <nav class="container mx-auto p-4">
        <div class="flex items-center justify-between">
            <a class="flex items-center gap-2 text-lg hover:text-primary transition-colors" href="/">
                <span class="text-primary">[</span>
                <span>O11K.COM</span>
                <span class="text-primary">]</span>
            </a>
            <div class="flex gap-6 items-center">
                <a class="hover:text-primary transition-colors" href="/#home">_home</a>
                <a class="hover:text-primary transition-colors" href="/#about">_about</a>
                <a class="hover:text-primary transition-colors" href="/#projects">_projects</a>
                <a class="hover:text-primary transition-colors" href="/#skills">_skills</a>
                <a class="hover:text-primary transition-colors" href="/#contact">_contact</a>
                <label for="dark-mode-toggle" class="relative">
                    <span class="sr-only">Toggle Dark Mode</span>
                    <input type="checkbox" id="dark-mode-toggle" class="absolute appearance-none w-[100%] h-[100%]">
                    <span id="dark-mode-toggle-icon" class="text-xl"></span>
                    <script>
                        /*
                        darkmode = checkbox (xor) media-preference.
                        localstorage overrides everything upon page startup.
                        */
                        (function () {
                            const mediaQuery = window.matchMedia('(prefers-color-scheme: dark)');
                            const checkbox = document.getElementById("dark-mode-toggle");

                            function updateDarkmode() {
                                const mode = mediaQuery.matches !== checkbox.checked;
                                window.localStorage.setItem("darkmode", mode.toString());
                                document.body.style.setProperty("--darkmode", mode ? 1 : 0);
                            }

                            // initial
                            const storage = window.localStorage.getItem("darkmode");
                            if (storage !== null) {
                                const mode = storage === "true";
                                checkbox.checked = mode !== mediaQuery.matches;
                            }

                            updateDarkmode();
                            mediaQuery.addEventListener("change", () => updateDarkmode());
                            checkbox.addEventListener("change", () => updateDarkmode());
                        })()
                    </script>
                </label>
            </div>
        </div>
    </nav>
</header>
