{{ $file := .Get 0 }}
{{ $elementId := .Get 1 }}

{{ $reactBundle := resources.Get "js/react-bundle.js" | js.Build (dict "format" "esm" "minify" true "sourceMap" "linked") }}
{{ $built       := resources.Get $file               | js.Build (dict "format" "esm" "minify" true "sourceMap" "linked" "externals" (slice "react" "react-dom" "react-dom/client")) }}

<script type="importmap">
{
  "imports": {
    "react": "{{ $reactBundle.RelPermalink }}",
    "react-dom": "{{ $reactBundle.RelPermalink }}",
    "react-dom/client": "{{ $reactBundle.RelPermalink }}"
  }
}
</script>
<script type="module">
  import * as React from "react";
  import * as ReactDOM from "react-dom/client";
  import Component from "{{ $built.RelPermalink }}";

  const DarkModeContext = React.createContext(null);

  function DarkModeProvider(props) {
    const [dark, setDark] = React.useState(() => document.body.style.getPropertyValue("--darkmode") === 1);

    React.useEffect(() => {
      function handleDarkMode(e) {
        setDark(e.detail.darkmode);
      }
      document.body.addEventListener("darkmode", handleDarkMode);

      return () => document.body.removeEventListener("darkmode", handleDarkMode);
    }, []);

    return React.createElement(
      DarkModeContext.Provider,
      { value: { dark, setDark } },
      props.children,
    )
  }

  window.useDarkMode = function() {
    return React.useContext(DarkModeContext);
  }

  const root = ReactDOM.createRoot(document.getElementById("{{ $elementId }}"));
  const rootEl = React.createElement(
    DarkModeProvider,
    null,
    React.createElement(Component),
  );
  root.render(rootEl);
</script>
